.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title {
  font-family: 'Orbitron', sans-serif;
}

.text {
  font-family: 'Open Sans', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.btn {
  background: linear-gradient(92.23deg, #B936EE 0%, #A845EC 24.38%, #3BACE2 100%, #406AFF 117.04%);
  box-shadow: 0px 4px 97px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(192px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 8px;
}

.hero {
  background-image: url("./images/Illustration.svg");
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}


.link {
  font-family: "Dela Gothic One" !important;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #3F006D; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

@media (max-width: 500px) {
  .sidenav {
    padding-top: 30px;
  }
}


.nav-link{
  background-color: #1D1E22;
}